<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - DisGo</title>
    <link rel="stylesheet" href="{{ asset('styles/reset.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/common.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/' ~ page_file ~ '.css') }}">
    <script src="{{ asset('scripts/'  ~ page_file ~ '.js') }}"></script>
</head>
<body>
    <header>
        <div>
            <a href="/"><img src="{{ asset('images/logo.png') }}" /></a>
            <ul>
                <li {% if page_file == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if page_file == 'leaderboard' %}class="active"{% endif %}><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </header>
    <main>
