{% extends 'base.html.twig' %}
{% set currentPage = 'user' %}
{% set page_files = [currentPage, 'itemList'] %}
{% set title = user.username ~ "'s Profile" %}
{% block content %}
    <section id="user" class="itemList">
        <aside>
            <article>
                <h1><span>{{ user.username }}</span>'s profile</h1>
                <div id="stats">
                    <div>
                        <div>
                            <h3>Balance</h3>
                            ${{ user.wallet|number_format(2, '.', ',') }}
                        </div>
                        <div>
                            <h3>Account</h3>
                            {% if user.banType != null %}
                                Banned
                            {% elseif user.premium == "activated" %}
                                Premium
                            {% else %}
                                Active
                            {% endif %}
                        </div>
                        <div>
                            <h3>Case points</h3>
                            {{ user.casePoints|number_format(0, '.', ',') }}
                        </div>
                        <div>
                            <h3>Spent</h3>
                            ${{ user.totalSpending|number_format(0, '.', ',') }}
                        </div>
                        <div>
                            <h3>Opened</h3>
                            {{ user.casesOpened|number_format(0, '.', ',')}}
                        </div>
                        <div>
                            <h3>Reds</h3>
                            {{ user.redsOpened|number_format(0, '.', ',') }}
                        </div>
                        <div>
                            <h3>Knives</h3>
                            {{ user.knivesOpened }}
                        </div>
                    </div>
                    <div>
                        <h2>Operation</h2>
                        <div>
                            <h3>Tokens</h3>
                            {{ user.operationTokens }}
                        </div>
                        <div>
                            <h3>Tickets</h3>
                            {{ user.opTickets }}
                        </div>
                        <div>
                            <h3>Completed</h3>
                            {{ user.compOp }}
                        </div>
                    </div>
                </div>
            </article>
            {#
                    <tr>
                        <td>
                            <h4>Last daily</h4>
                            {{ user.dailyClaim }}
                        </td>
                        <td>
                            <h4>Daily streak</h4>
                            {{ user.dailyStreak }}
                        </td>
                    </tr>
            #}
        </aside>
        <nav>
            <ul>
                <li><a href="/user/{{ userID|url_encode }}/skins">Skins</a></li>
                <li><a href="/user/{{ userID|url_encode }}/stickers">Stickers</a></li>
                <li>
                    <button onclick="">Filter by</button>
                    <select name="sort" onchange="updateGetParam('sort', this.value);">
                        <option value="default" {% if sort == 'default' %}selected{% endif %}>default</option>
                        <option value="price" {% if sort == 'price' %}selected{% endif %}>price</option>
                        <option value="rarity" {% if sort == 'rarity' %}selected{% endif %}>rarity</option>
                        {% if inventoryType == 'skins' %}
                            <option value="float" {% if sort == 'float' %}selected{% endif %}>float</option>
                        {% endif %}
                    </select>
                </li>
                <li>
                    <button onclick="">Order by</button>
                    <select name="sort" onchange="updateGetParam('order', this.value);">
                        <option value="asc" {% if order == 'asc' %}selected{% endif %}>ascending</option>
                        <option value="desc" {% if order == 'desc' %}selected{% endif %}>descending</option>
                    </select>
                </li>
            </ul>
            {% if inventoryType == 'skins' %}
                <p>${{ user.inventoryValue|number_format(2, '.', ',') }} - {{ user.inventory|length }}/{{ user.inventorySize }} items</p>
            {% else %}
                {% set sum = 0 %}
                {% if user.itemInventory is not null %}
                    {% set sum = user.itemInventory|reduce((carry, item) => carry + item.price, 0) %}
                {% endif %}
                <p>${{ sum|number_format(2, '.', ',') }} - {{ user.itemInventory|length }}/25 items</p>
            {% endif %}
        </nav>
        <div class="itemListGrid">
            <ul>
                {% set targetInventory = inventoryType == 'skins' ? user.inventory : user.itemInventory %}
                {% for item in targetInventory %}
                    <li class="rarity{{ item.rarity|capitalize }}">
                        <div class="retractedDiv rarity{{ item.rarity|capitalize }}">
                            <figcaption>
                                {% if inventoryType == 'skins' %}
                                    <p>Id°{{ item.index }}</p>
                                    <p>{{ item.float|number_format(10, '.', '') }}</p>
                                    <p>{{ item.case }}</p>
                                    <p>${{ item.price|number_format(2, '.', ',') }}</p>
                                    <p>
                                        {% if item.rarity|lower == 'yellow' %}
                                            Special
                                        {% elseif item.rarity|lower == 'red' %}
                                            Covert
                                        {% elseif item.rarity|lower == 'pink' %}
                                            Classified
                                        {% elseif item.rarity|lower == 'purple' %}
                                            Restricted
                                        {% elseif item.rarity|lower == 'blue' %}
                                            Mil-Spec
                                        {% else %}
                                            {{ item.rarity }}
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <p>Id°{{ loop.index }}</p>
                                    <p>{{ item.capsule }}</p>
                                    <p>${{ item.price|number_format(2, '.', ',') }}</p>
                                    <p>
                                        {% if item.rarity|lower == 'red' %}
                                            Extraordinary
                                        {% elseif item.rarity|lower == 'pink' %}
                                            Exotic
                                        {% elseif item.rarity|lower == 'purple' %}
                                            Remarkable
                                        {% elseif item.rarity|lower == 'blue' %}
                                            High Grade
                                        {% else %}
                                            {{ item.rarity }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </figcaption>
                            <figure>
                                <img src="{{ item.link }}" alt="{{ item.name }}">
                                <figcaption>
                                    <h3>{{ item.name }}</h3>
                                    <p>{{ item.owner is defined ? item.owner }}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
